* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    background-color: #151514;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container .card {
    min-height: 45rem;
    width: 30rem;
    background-color: #1F1F1F;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    font-family:  "Poppins", sans-serif;
}

.container .card .img {
    border-radius: 50%;
}
.container .card .name {
    font-size: 2rem;
    color: white;
    font-weight: 400;
}

.container .card .location {
    color: #C4DF79;
    font-size: 1.4rem;
    margin-top: 0.8rem;
}

.container .card .about {
    font-size: 1.2rem;
    color:white;
    margin-top: 1.8rem;
}

.container .card .btn-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .card .btn-container .btn {
    padding: 1.5rem;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    background-color: #323332;
    margin: 1rem 0 0 0;
    border-radius: 0.8rem;
    text-align: center;
}

